/*
 * Globals
 */


/*
 * Base structure
 */

html,
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

#root, .default {
  background-color: #0AADFF;
  height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

/* Padding for spacing */

.masthead .inner {
  padding: 2rem;
  width: 80%;
  margin: auto;
}

/*
 * Header
 */

.mastfoot {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.masthead-brand {
  font-size: 28px;
  margin: 0px;
  color: white;
  font-family: 'Optima';
  font-weight: bold;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,1);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.signinout img {
    margin-bottom: 20px;
    width: 450px;
}

.signinout img {
    margin-bottom: 20px;
    width: 90%;
}

  
#apple-sign-in-button,
#apple-sign-out-button {
    margin: auto;
    width: 218px;
}

.apple-auth-button {
    text-align: left;
}

div.signinout p {
    margin: 10px 0  10px 0;

}

div.signinout {
    color: white;
    width: 42em;
    margin: auto;
    padding-top:100px;
    text-align: center;
}

.marked-area-text-container,
header, h1, td {
    text-align: left;
    color: #333;
}

.map-header-div {
    width: 120px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 15px;

    text-align: right;
}

.activity-table {
    max-width: 100%;
    margin: auto;

}
.activity-table tr th {
    color: white;
}

.activity-table tr td {
    color: white;
}

.header-bar {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: left;
    z-index: 100;
    background: white;
}

.mapContainer {
    position:absolute;
    top:40px;
    bottom:0px;
    width:calc(100%);
    background: white;
}

.hidden {
    display: none;
}

.shadow {
    display: block;
    float: left;
    width:485px;
    z-index: 100;
    padding: 5px 10px 5px 5px;
}

.toolbox {
    width: 250px;
    float: left;
    margin: 5px 10px 5px 20px;
}

.toolbox > button {
    margin-right: 10px;
}

.lang-box {
    width: 150px;
    float: right;
    top: -33px;
    position: relative;
}

.lang-box a {
    color: white;
    display: block;
    margin-left: 20px;
    float: left;
    width: 50px;
}


.pac-icon {
    width: 0;
    height: 0;
}

.pac-item {
    padding: 3px;
    text-shadow: none;
}

.gm-iv-address {
    height: 56px !important;
    width: 180px;
}

.xxxx {
    z-index: 1000;
    background: #ffffff;
    width: 30px;
    height: 15px;
    position: absolute;
    top: 40px;
    left: 6px;
    font-size: 10px;
}

.controls > div > button {
    margin-left: 10px;
}

.controls > div > div {
    float:left;
}

