html,body {
    height:100%;

}
.special,.special .jumbotron {height:100%;}

.jumbotron {
    position: relative;
    background: #000 url("photo.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    color: #70176E;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: 'Playfair Display', serif;


}

h2 {
    font-family: 'Playfair Display', serif;

    font-weight: bold;
    color: #555;
}

.lead {
    font-family: 'Playfair Display', serif;
    color: #777;

}

footer {
    margin: 10px 10px 15px 10px;
}